@if (TempData.ContainsKey("message"))
{
    XMessage message = (XMessage)TempData["message"];
    <div class="alert alert-@message.TypeMsg">
        @message.Msg
    </div>
}
@*@if (TempData.ContainsKey("message"))
    {
        XMessage message = (XMessage)TempData["message"];
        <div class="alert alert-@message.TypeMsg alert-dismissible fade show" role="alert" id="alert-custom">
            @message.Msg
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }*@
